/.vscode
/__pycache__
/config/__pycache__
/credentials/credentials.json
/credentials/token.json
/databases/calculator.db
/reference/new_wuwa_script_for_reference.js
/ui/__pycache__
/ui/generate_ui.bat
/ui/calc_gui_for_reference
/utils/__pycache__
/.sourcery.yaml
/generate_requirements.bat