/.vscode
/__pycache__
/credentials/credentials.json
/credentials/token.json
/reference
/temp
/ui/generate_ui.bat
/ui/calc_gui_for_reference
/utils/__pycache__
/.sourcery.yaml
/generate_requirements.bat